* {
  padding: 0;
  margin: 0;
  border: 0;
   box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: OpenSansRegular, sans-serif;
  background-color: #e9fAf9;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
@media (max-width: 767px){
  .header__body {
    justify-content: center;
    align-items: center;
    flex-direction: column!important;
  }
  .header__title{
    margin-bottom: 10px;
  }
  .content__sidebar {
    display: none;
  }
  .container{
    padding: 5px 10px 5px 5px;
  }
}
/*NULL*/
@font-face {
  font-family: "OpenSansBold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansRegular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header{
  background: #62B4DA;
}
.container{
	max-width: 980px;
	margin: 0 auto;
}
.header__body {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.header__title {
  display: flex;
}
.header__title img{
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
}
.header__title h2{
  font-family: OpenSansBold; 
  font-size: 30px;
}

.header__nav {
  flex: 0 0 auto;
}
.menu, .submenu{
    display:flex;
    list-style: none;
    padding-left: 0;
    position: relative;
}
.menu>li{border-left: 1px solid #111;}
.menu>li:last-child{border-right: 1px solid #111;}
.menu a{
  display: block;
  padding: 5px;
  font-size: 20px;
  color: #111;
  background: #62B4DA;
}
.submenu{
  flex-direction: column;
  position: absolute;
  visibility: hidden;
}
.menu .activated{
	background-color: #319ECD;
  visibility: visible;
}
.subsubmenu{
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
}

.menu li:hover .submenu{
  visibility: visible;
}
.submenu li:hover .subsubmenu{
  visibility: visible;
}
.content{
  min-height: 100%;
  flex: 1 1 auto;
}
.content h2{
  margin: 20px 0px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 20px 0px;
  font-size: 40px;
  text-align: center;
}
.content h3{
  font-family: OpenSansBold;
  font-size: 16px;
  margin-bottom: 10px;

}
.content__body{
  display: flex;
  flex-direction: row;
}
.content__text {
  max-width: 800px;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  flex: 1 1 auto;
}
.content__sidebar {
  max-width: 200px;
  margin-left: 20px;
  padding: 0px 10px;
  border-left: 1px solid #666;
}
footer{
}
.foot{
  margin-top: 10px;
  width:100%;
  height: 30px;
  background-color: #333;
}